/**
	Author: Adam Faherty
**/

.enteredDate, .resultText, .resultValue {
	
	display: inline-block;
}

.row {
	/*background-color: green;*/	
}

.blurb {
	/*background-color: red;*/
	width: 9%;
	font-variant: small-caps;
}

.enteredDate {
	/*background-color: blue;*/
	width: 5%
}

.resultText {
	/*background-color: pink;*/
	width: 15%;
	
}

.resultValue {
	/*background-color: orange;*/
}

