/**
	Author: Adam Faherty
**/

* {
	font-family: sans-serif;
}

body {
	background-color: #f0ffff;
}

.blurb, .enteredDate, .resultText, .resultValue, .dateEntry  {
	display: inline-block;
}

.row {
	/*background-color: green;*/	
}

.blurb, .dateEntry {
	width: 7%;
}

/*
.blurb {
	background-color: #99CCFF;
}*/

.enteredDate {
	/*background-color: blue;*/
	width: 5%
}

.resultText {
	background-color: #6699CC;
	width: 16%;
	border-bottom: 1px black solid;
	
}

.resultValue {
	background-color: #BBBBBB;
	margin-left: -.3%;
	border-bottom: 3px black solid;
}

#disclaimer {
	width: 33%;
	text-align: center;
}

#refundPolicy {
	text-align: center;
	display: block;
}

#startdate, #enddate {
	width: 3.7%;
	text-align: center;
}